discord
kactivitymanagerdrc
mpv
lazygit
neofetch
kde.org
jellyfin-mpv-shim
jellyfin
inkscape
Docker Desktop
Kitematic
PostmanAgent
Proton
Thunar
archlinux-tweak-tool
autostart
calibre
clipse
dconf
fastfetch
figma-linux
fish
flameshot
github-copilot
go/telemetry/local
gtk-3.0
gtk-4.0
htop
jellyfin
jellyfin-mpv-shim
kde.org
nwg-look
obsidian
waybar__
wlogout
xarchiver
xfce4/xfconf/xfce-perchannel-xml
xsettingsd
QtProject.conf
assets
baloofileinformationrc
dolphinrc
kconf_updaterc
kiorc
mimeapps.list
pavucontrol.ini
syncplay.ini
user-dirs.dirs
user-dirs.locale
vlc
systemd/user
spotify-player
spotify
session
qBittorrent
pulse
penpot-desktop
omf
pix
